/* General header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Navigation bar styling */
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Align items horizontally */
}

/* Individual list item */
nav ul li {
    margin: 0 15px; /* Add some space between links */
}

nav a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    vertical-align: middle;
    font-size: 18px;
}

#auth-section a {
    padding: 10px 20px;
    vertical-align: middle;
}

nav a:hover {
    background-color: #555;
}

/* Ensure the body content doesn't hide behind the fixed header */
body {
    padding-top: 60px;
}

#profile-context-menu {
    position: absolute;
    display: none;
    background-color: #444;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#profile-context-menu div {
    padding: 5px;
}

#profile-context-menu div:hover {
    background-color: #555;
}
